<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _8._Music_portal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_8._Music_portal.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow header pb-3">
            <div class="container-fluid">
                <a class="navbar-brand a" asp-area="" asp-controller="Home" asp-action="Index">Home page</a>
                <a class="navbar-brand a" asp-area="" asp-controller="Home" asp-action="Register">Registration</a>
                @if (Context.Session.GetString("Login") == null)
                {
                    <a class="navbar-brand a" asp-area="" asp-controller="Home" asp-action="Login">Logоn</a>
                }
                else
                {
                    <span class="navbar-brand">Здравствуйте, @Context.Session.GetString("FirstName")  @Context.Session.GetString("LastName")</span>
                    <a class="navbar-brand a" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - _8._Music_portal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
