@model _8._Music_portal.Models.UserModel

@{
    ViewData["Title"] = "Activate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Activate</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName) @Html.DisplayFor(model => model.Login)
        </dt>
        <dd class = "col-sm-10">
            User account activated!
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
